#divH2Form {
    width: 80vw;
    margin: auto;
}

#divH2Form>h2 {
    padding: 20px;
}

#formAdopt {

    margin: 20px;
    padding: 10px;
    background-color: #D9D9D9;
    border-radius: 10px;

}

.inputsAnLabel {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#buttonSubmit {
    width: 100px;
    height: 40px;
    color: white;
    border-radius: 10px;
    background-color: #4DA7EC;
    border: none;
    cursor: pointer;
}

#ButtonAdopt {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#labelName {
    padding-right: 81px;
}

#labelTelephone {
    padding-right: 59px;
}

#labelEmail {
    padding-right: 82px;
}

#labelAdress {
    padding-right: 53px;
}

#labelNext {
    padding-right: 17px;
}

@media screen and (min-width: 686px) {
    input {
        width: 430px;
    }
}